/* 

Reporting

 */
.header-space,
.footer-space{
    height: 0px;
}
.header-height-fix {
    min-height: 40px;
    padding: 0px 20px;
}
div#report-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul.indicator-list {
    border: 3px dashed #ccc;
    margin: 10px; 
    flex: 1 1 0px;
    min-height: 500px;
}
div.dopa-data-chart {
    height: 280px;
}
div#report-area-title {
    text-align: center;
    font-size: 38px;
}

li.ui-sortable-handle {
    margin: 10px;
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

li.ui-sortable-handle.ui-sortable-helper { 
    cursor: grabbing; 
    cursor: -webkit-grabbing;
}

.dopa-button[aria-expanded=false] .card-expanded,
.dopa-button[aria-expanded=true] .card-collapsed,
.card-title[aria-expanded=false] .data-expanded,
.card-title[aria-expanded=true] .data-collapsed {
  display: none;
}
table.dopa-data-table {
    width: 100%!important;
}

.inner-card-title {
    flex-grow: 1;
}

div#collapseHeader {
    text-align: right;
}
div#collapseFooter {
    text-align: center;
}
img.report-header-logo {
    height: 60px;
}
img.report-footer-logo {
    height: 180px;
}
@media print
{
    #container-page table tr {
        border-bottom: 0px!important;
    }
    ul.indicator-list {
        border: 0px !important;
    }
    
    header#header,
    #card-title-header,
    #card-title-footer,
    #sliding-popup,
    button.button.button--ultimenu,
    i.fas, i.far {
        display: none !important;
    }
    li.ui-sortable-handle {
        list-style: none;
    }
    .header-space{
      height: 80px;
    }
    .footer-space {
      height: 300px;
    }
    
    div#collapseHeader {
        position: fixed;
        top: 20px;
        right: 20px;
    }
    div#collapseFooter {
        position: fixed;
        width: 402px;
        margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
        bottom: 20px;
        left: 0;
        right: 0;
    }

}