<button class="btn btn-outline-success dopa-button w-100 d-flex justify-content-between" type="button" data-toggle="collapse" data-target="#collapse{{ card.name|replace({' ': ''}) }}" aria-expanded="false" aria-controls="collapse{{ card.name|replace({' ': ''}) }}">
	<div class="dopa-title"><i class="{{ card.icon }}"></i> {{ card.name }} </div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div>
</button>

<div class="collapse wrapper-card" id="collapse{{ card.name|replace({' ': ''}) }}">
	<div class="card mb-3 border-0">
	  <div class="card-body">
		<div class="card-text">
		
		{% if card.data %}
		  {% for cardId, data in card.data %}
			{% include 'data-card.html.twig' %}
		  {% endfor %}
		{% endif %}
		{% if card.custom %}
			{{ card.custom|raw }}
		{% endif %}
		  
		</div>
	  </div>
	</div>
</div>
